<!DOCTYPE html>
<html>
<head>
    
    <link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Form</title>

</head>
<body>
    
    <div class="container">

		<h1>Welcome to the Counter</h1>
		<p>Enter a sentence and one of the word of that sentence and our Counter will tell you how many times that word appears in your sentence.</p>

		<form>
			<label for="string">Enter your sentence :</label>
			<input type="text" name="string" id="string">

	    	<label for="word">Enter the word you want to check :</label>
			<input type="text" name="word" id="word">
			
			<button type='submit' class='btn btn-success'>Go!</button>
	    </form>
    </div>
</body>
</html>