<!DOCTYPE html>
<html>
<head>
    
    <link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Result</title>

</head>
<body>

	<div class="container">
		<h1 style="text-align : center">Here is the result :</h1>
		<h2>In the sentence "{{ thestring }}", the word "{{ findword }}" appears {{ result }} time(s).</h2>
	 	<a href="/" style='text-align : center; color : darkgrey'><button type="submit">Do it again</button></a>
	</div>

</body>
</html>