<!DOCTYPE html>
<html>
<head>
    
    <link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Result</title>

</head>
<body>

	<div class="container">
		<h1 style="text-align : center">Here is the result :</h1>
		<h3>In the sentence "{{ the_string }}", the word "{{ find_word }}" appears <strong><a stylr = "color : steelblue">{{ result }}</a></strong> time(s).</h3>
	 	<a href="/"><button class='btn btn-success'>Do it again</button></a>
	</div>

</body>
</html>