<!DOCTYPE html>
<html>
<head>
    
    <link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Result</title>

</head>
<body style="background-color: #00adad;
background-image: url(http://www.transparenttextures.com/patterns/connected.png);">

	<div class="container">
		<h1 style="text-align : center; color : steelblue">Here is the result :</h1>
		<h3 style="color: lightgrey">In the sentence "<a style = "color : darkgrey; text-shadow: 1px 1px #000">{{ the_string }}</a>", the word "<a style = "color : darkgrey; text-shadow: 1px 1px #000">{{ find_word }}</a>" appears <strong><a style = "color : black">{{ result }}</a></strong> time(s).</h3>
	 	<a href="/"><button class='btn btn-warning'>Do it again</button></a>
	</div>

</body>
</html>